<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UstunWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="YesilayWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.Xpo.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
      </protocols>
    </webServices>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <connectionStrings>
    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.71.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMPROD)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Data Source=UYUM_TEST;User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Server=192.168.71.33;User Id=uyum;Password=12345;Database=uyumtestdb;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    
    <!--<add name="uyum" connectionString="Server=10.0.0.250;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <add name="uyum" connectionString="Server=159.253.81.186;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>

    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.71.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMPROD)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.71.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMPROD)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.71.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMTEST)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.225)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMSOFT)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.118)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMTEST)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.225)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMSOFT)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.71.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UYUMTEST)));User Id=uyumsoft;Password=uyumsoft;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="uyum" connectionString="Server=195.175.49.218;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <!--<add name="uyum" connectionString="Server=195.175.49.218;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
    <!--<add name="uyum" connectionString="Server=192.168.3.216;User Id=uyum;Password=12345;Database=uyumsoft;Port=5432;Pooling = false;MinPoolSize = 0;CommandTimeout = 0;Timeout = 600;ConnectionIdleLifetime = 10;KeepAlive = 10;ApplicationName=WebService" providerName="Npgsql"/>-->
  </connectionStrings>
  <appSettings>
    <add key="appVersionNo" value="1.0"/>
    <add key="appVersionFtp" value="http://.."/>
    <add key="tracelavel" value="Verbose"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <!--<dataSource alias="UYUM_TEST" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.2.14)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=UYUMTEST))) "/>-->
        <!--<dataSource alias="RITIM_TEST" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.2.14)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=UYUMTEST))) "/>-->
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <applicationSettings>
    <UstunWebService.Properties.Settings>
      <setting name="tracelavel" serializeAs="String">
        <value>Verbose</value>
      </setting>
      <setting name="UyumUrl" serializeAs="String">
        <value>http://10.0.0.250:400/</value>
      </setting>
    </UstunWebService.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
</configuration>