<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="m2Mobile_c_v4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="m2Mobile_c_v4.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <m2Mobile_c_v4.Properties.Settings>
            <setting name="m2Mobile_c_v4_Win_WebReference_UTerminalServices"
                serializeAs="String">
                <value>http://erp.adell.com/webservice/trm/uterminalservices.asmx</value>
            </setting>
        </m2Mobile_c_v4.Properties.Settings>
        <m2Mobile_c_v4.Win.Properties.Settings>
            <setting name="m2Mobile_c_v4_Win_WebReference1_UTerminalServices"
                serializeAs="String">
                <value>http://pgtest.ofis.uyumcloud.com/webservice/trm/uterminalservices.asmx</value>
            </setting>
        </m2Mobile_c_v4.Win.Properties.Settings>
    </applicationSettings>
</configuration>